body{
  text-align: center;
  background-color: burlywood;
}

h1{
  font-size: 40px;
  color: #fff;
}

h2{
  font-size: 30px;
  color: brown;
}

img{
  height: 400px;
  width: 400px;
}

h4{
  font-size: 25px;
  color:blueviolet;
  margin-top: 20px;
}

h3{
  color: white;
  text-align: right;
  margin-right: 30px;
}